# Exclure des fichiers spécifiques
LLM-Mastery-hand/wiki.txt
LLM-Mastery-hand/encoded_data.pt

# Exclure tout le dossier models
LLM-Mastery-hand/models/

# Exlure les data
llm_align/data2/
llm_align/models/
llm_align/tokenizers/

wandb/
bitsandbytes-0.44.1.dev0-py3-none-macosx_13_1_arm64.whl
triton/
